.nfs*
*.ipynb
*.pyc
.dumbo.json
.DS_Store
.*.swp
*.pth
**/__pycache__/**
.ipynb_checkpoints/
datasets/data/
experiment-*
*.tmp
*.pkl
**/.mypy_cache/*
.mypy_cache/*
not_tracked_dir/
.vscode

__pycache__

masks/
multi_label_test/
multi_label_train/
OUTPUT/
panoptic_eval/
Prediction/
runs*/

*.obj
*.stl
*.jpg
*.png
*.ply
*.zip

*test*
